<html>
  <!--Head-->
  <%- include("partials/header")%>

  <body>
    <!--Navbar-->
    <%- include("partials/navbar", {links: links})%>

    <!--Main Heading-->
    <div class="main-heading"><%= mainHeading%></div>

    <!--Message Container-->
    <div class="message-container">
      <ul class="message-ul">
        <%for(i = 0; i < messages.length; i++){%> <%index = i%>
        <div class="line-anchor-container">
          <li class="line" data-linenum="<%= index%>">
            <%= `${messages[i].user}: ${messages[i].snippet}
            ${messages[i].added}` %>
          </li>

          <!--Use template literals for dynamic data
        in javascript-->

         <button id="btn-open" class="btn-open" data-anchornum="<%= index%>">
           Open
         </button>
        </div>

        <%}%>
      </ul>
    </div>

    <script>
      //Run on Front end (Client side)

      //Reference line and anchor tags
      const anchor = document.querySelectorAll(".btn-open");
      const line = document.querySelectorAll(".line");

      let index = "";

      //Find index of line clicked
      const buttons = document.querySelectorAll(".btn-open");

buttons.forEach((button) => {
  button.addEventListener("click", (e) => {
    const index = button.dataset.anchornum;
    location.href = `details?index=${index}`;
  });
});
          /* data = document.getElementById("anchor").href = `details?index=${index}&data=${encodeURIComponent(
                  JSON.stringify(inf0)
                )}`;
           */
          //e.preventDefault();
      
    </script>
  </body>
</html>